.page-width {
    max-width: 1200px;
    padding-inline: 16px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .page-width {
        padding-inline: 24px;
    }
}

@media (min-width: 1200px) {
    .page-width {
        padding-inline: 32px;
    }
}