.product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.product__inner-left {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  max-height: 536px;
}

.product__wrapper-big-img {
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  height: auto;
  max-height: 536px;
  border-radius: 8px;
  overflow: hidden;
}

.product__wrapper-big-img img,
.product__main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.product__thumb-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product__btn-img {
  padding: 0;
  width: 88px;
  height: 88px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}

.product__btn-img:focus-visible,
.product__btn-img:hover {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.product__btn-img::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .18s ease;
}

.product__btn-img--active::after {
  opacity: 0.2;
}

.product__title {
  margin: 0 0 12px 0;
}

.product__price {
  display: block;
  margin: 0 0 10px 0;
  color: var(--muted);
}

.product__option-color,
.product__option-size {
  display: flex;
  gap: 8px;
  border: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.product__legend,
.product__availability {
  margin: 0 0 12px 0;
}

.product__size-label-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  width: 100%;
}

.product__btn {
  margin: 0 0 32px 0;
  position: relative;
  background-color: var(--btn-bg, #000);
  color: var(--btn-text, #fff);
  border: none;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
}

.product__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.product__btn:hover {
  background-color: var(--btn-hover-bg, #737373);
}

.product__description {
  margin: 0;
  color: var(--muted);
}

.custom-radio {
  cursor: pointer;
}

.custom-radio__visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 16px;
}

.custom-radio__field {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.custom-radio__field:focus-visible+.custom-radio__visual,
.custom-radio__field:hover+.custom-radio__visual,
.custom-radio__field:checked+.custom-radio__visual {
  border-color: #000000;
}

.custom-radio__visual--color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.custom-radio__field:focus-visible+.custom-radio__visual--color,
.custom-radio__field:hover+.custom-radio__visual--color {
  border-color: #777777;
  opacity: 0.9;
}

.custom-radio__field:checked+.custom-radio__visual--color {
  border-color: #777777;
  opacity: 0.8;
}